---
import DynamicIcon from "@/helpers/DynamicIcon";

const { icon, bg_color: bgColor, label, isCenter = true } = Astro.props;
const pathname = Astro.url.pathname;
---

<div
  class={`flex ${isCenter ? "justify-center" : ""} ${!pathname.includes("blog") && !pathname.includes("programs") ? "max-lg:justify-center" : ""}`}
>
  <div
    class={`flex w-max items-center justify-center gap-2 ${icon ? "pr-4" : "px-4"} rounded-full border border-border bg-body`}
  >
    {
      icon && (
        <div
          class={`flex items-center justify-center p-2 rounded-full ${bgColor || "bg-primary"}`}
        >
          <DynamicIcon icon={icon} className="text-white text-sm" />
        </div>
      )
    }
    <span class="text-sm font-medium text-gray-800">{label}</span>
  </div>
</div>
